{% extends "../private_view.twig" %}

{% block navbar %}
    {% include '../navbar.twig' %}
{% endblock %}
{% block body %}
    <h2>{{ test_title }}</h2>
    
    <div class="row game-container" id="lobby">
        <span class="col-sm-12 col-md-5">
            <h4>Participantes</h4>
            <div id="connected_players">
            </div>
            <div><button onclick="get_ready(this)" class="test-item-button btn base-btn rounded-input">Empezar</button></div>
        </span>
        <div class="col-sm-12 col-md-5 offset-md-2" id="connected_users_container">
            <h4>Usuarios Conectados</h4>
            <span id="connected_users">
            </span>
            <div class="col-sm-12 col-lg-8 offset-lg-2">
                <div class="input-group mb-3">
                    <input id="search-user-input" type="text" class="form-control" placeholder="Introduce un nombre de usuario">
                    <div class="input-group-append">
                      <span onclick="search_users()" class="input-group-text search-button" >Buscar</span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="row game-container" id="game">
        <div class="col-md-7 col-sm-12" id="test-div">
        {% for i, question in game.test.questions %}
            <div id="question-{{ i }}" class="question {% if i == 0 %} current-question {% endif %}">
                <h4 class="question-text">{{ question.text }}</h4>
                {% for j, answer in question.answers %}
                    <input class="answer-radio" type="radio"  id="question-{{i}}-answer-{{j}}" name="answer-question-{{i}}" value="{{j}}">
                    <label for="answer-question-{{j}}">{{ answer.text }}</label><br>
                {% endfor %}
                {% if i < (game.test.questions-1) %}
                <button id="button-next-{{i}}" class="test-item-button btn base-btn question-btn rounded-input answer-btn next-btn" disabled >Siguiente</button>
                {% else %}
                <button id="button-next-{{i}}" class="test-item-button btn base-btn question-btn rounded-input answer-btn  end-btn" disabled >Finalizar</button>
                {% endif %}
            </div> 
        {% endfor %}
        </div>
        <div class="col-md-5 col-sm-12">
            <div id="chat-area"></div>
            <div class="input-group mb-3">
                <input id="chat-input-message" type="text" class="form-control" placeholder="Escribe tu mensaje">
                <div class="input-group-append">
                    <span class="input-group-text" id="chat-btn-send">Enviar</span>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
{% block scripts %}
    {{ parent() }} 
    <script src="/js/game.js"></script>
{% endblock css %}